<!--  -->
<span>QUICK ONE-LINER DESCRIBING JOB ACTION<span/>
    <br/>
    <br/>
    <span class=\"subtitle\">
        <b>What will be done</b>
    </span>
    <br/>
    <ul>
        <li>SAMPLE ACTION 1</li>
        <li>SAMPLE SUB-ACTION TITLE</li>
        <li>
            <i>SAMPLE SUB-ACTION 1</i>
        </li>
    </ul>
    <br/>
    <span class=\"subtitle\">
        <b>What will not be done</b>
    </span>
    <br/>
    <ul>
        <li>SAMPLE ACTION 1</li>
        <li>SAMPLE SUB-ACTION TITLE</li>
        <ul>
            <li>SAMPLE SUBACTION 1</li>
            <li>SAMPLE SUBACTION 2</li>
            <li>SAMPLE SUBACTION 3</li>
            <li>SAMPLE SUBACTION 4</li>
            <li>SAMPLE SUBACTION 5</li>
        </ul>
    </ul>